{% extends 'music/base.html' %}

{% block title %} Album Details {% endblock title %}
{% block content %}

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}

<div class="row">
    <div class="col-md-4 text-center album-detail-side">
        <div class="container">
            <img class="mb-4 image-detail" width="250px" height="250px" src="{{ album.album_logo.url }}" alt="">
            <h1 class="jumbotron-heading">{{ album.album_title}}</h1>
            <p class="lead text-muted">{{ album.album_title }} - {{ album.artist }}<br>
                <small class="text-muted">{{ album.genre }}</small>
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead class="thead-dark">
            <button class="btn btn-primary mb-2"><i class="fa fa-plus"></i> Add New Song</button>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Title</th>
                <th scope="col">Artist</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for song in album.song_set.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ song.song_title }}</td>
                <td>{{ song.album.artist}}</td>
                <td></td>
            </tr>
            {% endfor %}
            <tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock content%}